@import "../mixins/mixins.scss";

.specificResultDiv {
  width: 80%;
  @include marginCenter();
  margin-top: 6vh;
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  border: 1px solid grey;
  border-radius: 25px;
  -webkit-box-shadow: -6px 9px 18px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: -6px 9px 18px -13px rgba(66, 68, 90, 1);
  box-shadow: -6px 9px 18px -13px rgba(66, 68, 90, 1);
}

.productButtons {
  display: flex;
  margin-bottom: 4vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.productButtons button {
  padding: 6px 6px;
  background-color: transparent;
  border-radius: 10px;
  border-color: rgb(48, 102, 202);
}

.productButtons button:hover {
  transform: translate(-2px, -2px);
  cursor: pointer;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgDiv #leftArrow {
  margin-right: 1em;
  cursor: pointer;
}

.imgDiv #rightArrow {
  margin-left: 1em;
  cursor: pointer;
}

.smallerImgsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.smallerImg {
  width: 20%;
  height: 20%;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.smallerImgCHOSEN {
  width: 20%;
  height: 20%;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid rgb(48, 102, 202);
  border-radius: 20px;
  padding: 5px 5px;
  cursor: pointer;
}

.productHeading {
  width: 80%;
  text-align: center;
}

.popUpDiv {
  width: 25%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(48, 102, 202, 0.918);
  border-radius: 15px;
  text-align: center;
  z-index: 999;
}

.popUpDiv i {
  position: absolute;
  top: 10%;
  right: 3%;
  cursor: pointer;
}

#wishingIcon{
  position: absolute;
  top: 10px;
  left: 20px;
}

#cartIcon{
  position: absolute;
  top: 10px;
  right: 20px;
}

@media screen and (max-width: 1400px){
  #wishingIcon{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.5em !important;
  }
  
  #cartIcon{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 1250px) {
  .resultItem {
    width: 60%;
  }

  .productHeading{
    font-size: 1.3em;
  }

  .searchResultImg{
    width: 25%;
    height: 25%;
  }

  .smallerImg {
    width: 15%;
    height: 15%;
  }
  
  .smallerImgCHOSEN {
    width: 15%;
    height: 15%;
  }

  .productButtons {
    width: 60%;
  }

  #wishingIcon{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.4em !important;
  }
  
  #cartIcon{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.4em !important;
  }

  .popUpDiv {
    width: 30%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(48, 102, 202, 0.918);
    border-radius: 15px;
    text-align: center;
    z-index: 999;
  }
  
  .popUpDiv i {
    position: absolute;
    top: 10%;
    right: 3%;
    cursor: pointer;
  }
}

@media screen and (max-width: 999px) {
  .resultItem {
    width: 70%;
  }

  .resultItem p{
    font-size: .9em;
  }

  .productHeading{
    font-size: 1.1em;
  }

  .searchResultImg{
    width: 25%;
    height: 25%;
  }

  .smallerImg {
    width: 12%;
    height: 12%;
  }
  
  .smallerImgCHOSEN {
    width: 12%;
    height: 12%;
  }

  .specificProductPrice{
    font-size: 1.2em;
  }

  .popUpDiv {
    width: 30%;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(48, 102, 202, 0.918);
    border-radius: 15px;
    text-align: center;
    font-size: .9em;
    z-index: 999;
  }
  
  .popUpDiv i {
    position: absolute;
    top: 10%;
    right: 3%;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px){
  .popUpDiv {
    width: 40%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(48, 102, 202, 0.918);
    border-radius: 15px;
    text-align: center;
    font-size: .8em;
    z-index: 999;
  }
  
  .popUpDiv i {
    position: absolute;
    top: 10%;
    right: 3%;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .resultItem {
    width: 80%;
  }

  .resultItem p{
    font-size: .9em;
  }

  .productHeading{
    font-size: 1em;
  }

  .searchResultImg{
    width: 25%;
    height: 25%;
  }

  .smallerImg {
    width: 12%;
    height: 12%;
  }
  
  .smallerImgCHOSEN {
    width: 12%;
    height: 12%;
  }

  .specificProductPrice{
    font-size: 1.2em;
  }

  .productButtons {
    width: 70%;
  }

  #wishingIcon{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.2em !important;
  }
  
  #cartIcon{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.2em !important;
  }
}

@media screen and (max-width: 600px) {
  .resultItem {
    width: 100%;
  }

  .resultItem p{
    font-size: .8em;
  }

  .productHeading{
    font-size: .9em;
    margin-top: 3vh;
  }

  .searchResultImg{
    width: 30%;
    height: 30%;
  }

  .smallerImg {
    width: 15%;
    height: 15%;
  }
  
  .smallerImgCHOSEN {
    width: 15%;
    height: 15%;
  }

  .specificProductPrice{
    font-size: 1em;
  }

  .productButtons button {
    padding: 4px 4px;
  }

  #wishingIcon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.1em !important;
  }
  
  #cartIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.1em !important;
  }

  .popUpDiv {
    width: 55%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(48, 102, 202, 0.918);
    border-radius: 15px;
    text-align: center;
    font-size: .8em;
    z-index: 999;
  }
  
  .popUpDiv i {
    position: absolute;
    top: 10%;
    right: 3%;
    cursor: pointer;
  }
}