@import "../mixins/mixins.scss";

.specificResultDiv {
  width: 80%;
  @include marginCenter();
  margin-top: 6vh;
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  border: 1px solid grey;
  border-radius: 25px;
  -webkit-box-shadow: -6px 9px 18px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: -6px 9px 18px -13px rgba(66, 68, 90, 1);
  box-shadow: -6px 9px 18px -13px rgba(66, 68, 90, 1);
}

.productButtons {
  display: flex;
  margin-bottom: 4vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.productButtons button {
  padding: 6px 6px;
  background-color: transparent;
  border-radius: 10px;
  border-color: rgb(48, 102, 202);
}

.productButtons button:hover {
  transform: translate(-2px, -2px);
  cursor: pointer;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgDiv #leftArrow {
  margin-right: 1em;
  cursor: pointer;
}

.imgDiv #rightArrow {
  margin-left: 1em;
  cursor: pointer;
}

.smallerImgsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.smallerImg {
  width: 20%;
  height: 20%;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.smallerImgCHOSEN {
  width: 20%;
  height: 20%;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid rgb(48, 102, 202);
  border-radius: 20px;
  padding: 5px 5px;
  cursor: pointer;
}

.productHeading {
  width: 80%;
  text-align: center;
}

.popUpDiv {
  width: 25%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(48, 102, 202, 0.918);
  border-radius: 15px;
  text-align: center;
  z-index: 999;
}

.popUpDiv i {
  position: absolute;
  top: 10%;
  right: 3%;
  cursor: pointer;
}

#wishingIcon{
  position: absolute;
  top: 20px;
  left: 30px;
}

#cartIcon{
  position: absolute;
  top: 20px;
  right: 30px;
}
