.shoppingCartItemDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 1vh;
  padding: 8px 8px;
}

.cartItemName {
  font-size: 0.9em;
  width: 50%;
}

.cartProductImg {
  width: 20%;
}
