@import "../mixins/mixins.scss";

.loginHeading {
  text-align: center;
}

.loginFormDiv {
  border: 2px solid grey;
  border-radius: 10px;
  @include marginCenter();
  margin-top: 6vh;
  width: 20%;
  height: 55vh;
}

.loginFormInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 6vh;
}

.loginFormInput {
  width: 70%;
}

.loginBtn {
  display: block !important;
  margin: 6vh auto !important;
}

.formError {
  color: red;
  font-size: 0.8em;
}

@media screen and (max-width: 1200px) {
  .loginFormDiv {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .loginFormDiv {
    width: 40%;
  }

  .loginHeading {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 700px) {
  .loginFormDiv {
    width: 50%;
  }

  .loginHeading {
    font-size: 1.4em;
  }

  .loginHeadingFormInputs label {
    font-size: .8em;
  }

  .loginBtn {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .loginFormDiv {
    width: 70%;
  }

  .loginHeadingHeading {
    font-size: 1.2em;
  }
}
