@import "../mixins/mixins.scss";

.registerDiv {
  min-height: 100vh;
}

.registerHeading {
  text-align: center;
}

.registerNav {
  @include flexCenter(space-between);
  @include marginCenter();
  width: 80%;
  border-bottom: 2px solid grey;
}

.registerFormDiv {
  border: 2px solid grey;
  border-radius: 10px;
  @include marginCenter();
  margin-top: 6vh;
  width: 25%;
  min-height: 70vh;
}

.registerFormInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 6vh;
}

.registerFormInput {
  width: 70%;
}

.registerBtn {
  display: block !important;
  margin: 6vh auto !important;
}

.registrationToggle {
  border-bottom: 1px solid grey;
  width: 70%;
  display: block !important;
  margin: 6vh auto !important;
}

.formError {
  color: red;
  font-size: 0.8em;
}

::placeholder {
  color: black;
  font-weight: bold;
}
