@import "../mixins/mixins.scss";

.wishlist {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wishlistDiv {
  width: 80%;
  @include marginCenter();
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.wishlistHeading {
  width: 80%;
  @include marginCenter();
}

.emptyWishlist{
  text-align: center;
}

@media screen and (max-width: 1400px){

}

@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 999px) {

}

@media screen and (max-width: 800px){
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}
