@import "../mixins/mixins.scss";

.wishlist {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wishlistDiv {
  width: 80%;
  @include marginCenter();
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.wishlistHeading {
  width: 80%;
  @include marginCenter();
}

.emptyWishlist{
  text-align: center;
}
