.searchBarLink {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.searchBarLinkDiv {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdownDiv {
  display: flex;
  flex-direction: column;
  width: 10em;
  position: absolute;
  top: 7vh;
  -webkit-box-shadow: -6px 7px 13px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: -6px 7px 13px -5px rgba(66, 68, 90, 1);
  box-shadow: -6px 7px 13px -5px rgba(66, 68, 90, 1);
  background-color: rgb(238, 238, 238);
}

.dropdownItem {
  width: 100%;
  cursor: pointer;
}

.dropdownItem:hover {
  transform: translateX(5px);
}
