@import "../mixins/mixins.scss";

.searchBar {
  @include flexCenter(space-around);
  @include marginCenter();
  width: 80%;
  border-bottom: 2px solid rgb(48, 102, 202);
  position: relative;
}

.searchBar div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.searchBar div p {
  margin-left: 2em;
}

.hamburger {
  width: fit-content;
  position: absolute;
  left: 5%;
  top: 85px;
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 25px;
  margin: 6px;
  height: 3px;
  background-color: black;
}

@media screen and (max-width: 1225px) {
  .searchBar div p {
    font-size: 0.9em;
  }

  .searchBar div i {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1080px) {
  .searchBar div p {
    font-size: 0.8em;
  }

  .searchBar div i {
    font-size: 1em;
  }
}

@media screen and (max-width: 799px) {
  .searchBar {
    position: absolute;
    width: 80%;
    left: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 8px 8px 20px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 20px -3px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 20px -3px rgba(66, 68, 90, 1);
    border-bottom: none;
  }

  .searchBar div p {
    color: black;
  }

  .searchBar div i {
    color: rgb(48, 102, 202);
  }

  .hamburger {
    display: block;
  }
}
