@import "../mixins/mixins.scss";

.lastWatchedDiv {
  @include marginCenter();
  width: 80%;
  height: 30vh;
  display: flex;
  border-bottom: 1px solid grey;
}

.info {
  font-size: 0.8em;
  font-weight: bold;
  width: 80%;
  @include marginCenter();
}

@media screen and (max-width: 1080px) {
  .lastWatchedDiv{
    overflow-x: scroll;
  }
}