.lastWatchedProduct {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.lwName {
  font-size: 1em;
}

.lwImg {
  width: 30%;
  height: 30%;
}

.lwPrice {
  font-size: 1em;
}
