@import "../mixins/mixins.scss";

.nav {
  @include flexCenter(space-between);
  align-items: center;
  @include marginCenter();
  width: 80%;
  border-bottom: 2px solid rgb(48, 102, 202);
  flex-wrap: wrap;
}

@media screen and (max-width: 799px) {
  .nav {
    width: 90%;
    border-bottom: none;
  }
}
