.navLogo {
  background: -webkit-linear-gradient(rgb(0, 225, 255), rgb(108, 36, 224));
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  flex-grow: 1;
  flex-basis: 10%;
}

@media screen and (max-width: 1225px) {
  .navLogo {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1080px) {
  .navLogo {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 799px) {
  .navLogo {
    font-size: 0.7em;
  }
}
