.navLogo {
  background: -webkit-linear-gradient(rgb(0, 225, 255), rgb(108, 36, 224));
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  flex-grow: 1;
  flex-basis: 10%;
}
