@import "../mixins/mixins.scss";

.navMenu {
  flex-grow: 1;
  flex-basis: 10%;
  display: flex;
}

.navMenu > div {
  @include flexCenter(space-around);
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: black;
}
