@import "../mixins/mixins.scss";

.navSearchForm {
  flex-grow: 2;
  @include flexCenter(space-around);
}

@media screen and (max-width: 1080px) {
  .navSearchForm {
    width: 100%;
    order: 9;
  }
}
