.recProduct {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.recProductImg {
  width: 30%;
  height: 30%;
}

.recProductBrand {
  font-size: 0.9em;
}

.recProductPrice {
  font-size: 1em;
}
