.leftFooterDiv {
  flex-grow: 1;
  align-self: center;
  padding-left: 1em;
}

.leftFooterDiv h2 {
  color: rgb(48, 102, 202);
}

.leftFooterDiv p {
  font-size: 0.9em;
}

@media screen and (max-width: 1225px) {
  .leftFooterDiv p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1080px) {
  .leftFooterDiv p {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 799px) {
  .leftFooterDiv {
    display: none;
  }
}
