.middleFooterDiv {
  flex-grow: 1;
  text-align: center;
}

.middleFooterDiv h2 {
  color: rgb(48, 102, 202);
}

.middleFooterDiv p {
  font-size: 0.9em;
}

@media screen and (max-width: 1225px) {
  .middleFooterDiv p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1080px) {
  .middleFooterDiv p {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 799px) {
  .middleFooterDiv p {
    font-size: 0.6em;
  }
}
