.rightFooterDiv {
  flex-grow: 1;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightFooterDiv h2 {
  color: rgb(48, 102, 202);
}

.rightFooterDiv p {
  font-size: 0.9em;
}

.contactPhone {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-around;
}

.contactEmail {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.contactGeo {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.contactIcons {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1225px) {
  .rightFooterDiv p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1080px) {
  .rightFooterDiv p {
    font-size: 0.7em;
  }

  .rightFooterDiv i {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 799px) {
  .rightFooterDiv p {
    font-size: 0.6em;
  }

  .rightFooterDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .contactPhone {
    width: 100%;
  }

  .contactEmail{
    width: 100%;
  }

  .contactIcons{
    width: 100%;
  }

  .contactGeo{
    width: 100%;
  }
}
