@import "../mixins/mixins.scss";

.cart {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.usersCartDiv {
  width: 50%;
  padding: 10px 10px;
  border: 1px solid grey;
  border-radius: 15px;
}

.cartNav {
  display: flex;
  justify-content: space-between;
}

.clearCartDiv {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearCartDiv i {
  margin-right: 1em;
  border-bottom: 1px solid grey;
}

.cartAndSummaryDiv {
  display: flex;
  width: 60%;
  justify-content: space-between;
  @include marginCenter();
  margin-top: 4vh;
}

.yourCartHeading {
  border-bottom: 1px solid grey;
}

.clearCartHeading {
  border-bottom: 1px solid grey;
}

.cartFooterDiv {
  margin-top: auto;
}
