@import "../mixins/mixins.scss";

.cart {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.usersCartDiv {
  width: 50%;
  padding: 10px 10px;
  border: 1px solid grey;
  border-radius: 15px;
  max-height: 400px;
  overflow-y: auto;
}

.cartNav {
  display: flex;
  justify-content: space-between;
}

.clearCartDiv {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearCartDiv i {
  margin-right: 1em;
  cursor: pointer;
}

.cartAndSummaryDiv {
  display: flex;
  width: 60%;
  justify-content: space-between;
  @include marginCenter();
  margin-top: 4vh;
}

.clearCartHeading {
  cursor: pointer;
}

.cartFooterDiv {
  margin-top: auto;
}

@media screen and (max-width: 1200px) {
  .cartAndSummaryDiv {
    width: 75%;
  }

  .usersCartDiv{
    width: 60%;
    font-size: .9em;
  }
}

@media screen and (max-width: 999px) {
  .cartAndSummaryDiv {
    width: 80%;
  }

  .usersCartDiv{
    width: 60%;
    font-size: .9em;
  }
}

@media screen and (max-width: 850px) {
  .cartAndSummaryDiv {
    width: 80%;
  }

  .usersCartDiv{
    width: 60%;
    font-size: .9em;
  }

  .cartAndSummaryDiv{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .usersCartDiv{
    width: 80%;
    font-size: .9em;
  }
}

@media screen and (max-width: 650px) {
  .usersCartDiv{
    width: 95%;
    font-size: .9em;
  }
}