@import "../mixins/mixins.scss";

.advBanner {
  @include marginCenter();
  width: 80%;
  border-bottom: 1px solid grey;
  text-align: center;
}

.githubLink {
  text-decoration: none;
  color: rgb(48, 102, 202);
}
